@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 42px;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header, .footer {
  background: #333333;
  color: white;
  font-size: 0.25rem;
  width: 100%;
  min-height: 60px;
  text-align: center;
}
.header a, .footer a {
  color: inherit;
  text-decoration: none;
}

.title-break {
  display: block;
}

.footer {
  position: fixed;
  top: calc(100vh - 60px);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 0.5rem;
  }

  .footer {
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 1024) {
  .title-break {
    display: none;
  }
}
.main-entry {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.5rem;
  margin-top: 1rem;
}
@media only screen and (min-width: 768px) {
  .main-entry {
    font-size: 1rem;
  }
}
.main-entry__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-entry__input, .main-entry__button {
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 0.05em;
  padding: 0.25em;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  width: 100px;
  height: 73px;
  text-align: center;
  margin-top: 20px;
}
.main-entry__input:focus, .main-entry__button:focus {
  outline: none;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) {
  .main-entry__input, .main-entry__button {
    font-size: 2rem;
    width: 200px;
    height: 150px;
  }
}
.main-entry__button {
  background: limegreen;
  color: white;
}

.main-results {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 22%;
  min-width: 150px;
  min-height: 100px;
  background: transparent;
  color: white;
  font-size: 1rem;
  padding: 1em;
  margin: 0.25em;
  outline: none;
  position: relative;
  transition: transform 600ms ease-in-out;
  transform-style: preserve-3d;
  -webkit-transition: transform 600ms ease-in-out;
  -moz-transition: transform 600ms ease-in-out;
  -ms-transition: transform 600ms ease-in-out;
  -o-transition: transform 600ms ease-in-out;
}
.card:hover, .card:focus {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
@media only screen and (min-width: 768px) {
  .card {
    width: 300px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .card {
    width: 350px;
    height: 175px;
  }
}
.card-front, .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}
.card-front {
  background: #1f8fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-back {
  background: white;
  color: #333333;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
